<div class="bg-white rounded-2xl shadow p-6 mb-6">

    <div class="flex justify-between items-center mb-5">

        <h2 class="text-2xl font-bold">
            Services
        </h2>

        <span class="text-gray-500">
            {{ services|length }} Services
        </span>

    </div>

    <form action="/add-service" method="POST" class="grid md:grid-cols-2 gap-4 mb-8">

    <input
        type="text"
        name="name"
        placeholder="Service Name"
        class="border rounded-lg p-3"
        required>

    <select
        name="category"
        class="border rounded-lg p-3">

        <option>Hair</option>
        <option>Barber</option>
        <option>Beauty</option>
        <option>Spa</option>
        <option>Massage</option>
        <option>Medical</option>
        <option>Consultation</option>
        <option>Other</option>

    </select>

    <input
        type="number"
        name="price"
        placeholder="Price"
        class="border rounded-lg p-3">

    <input
        type="text"
        name="duration"
        placeholder="30 mins"
        class="border rounded-lg p-3">

    <input
        type="number"
        name="deposit"
        placeholder="Deposit (Optional)"
        class="border rounded-lg p-3">

    <input
        type="text"
        name="image"
        placeholder="Image URL"
        class="border rounded-lg p-3">

    <label class="flex items-center gap-2">

        <input
            type="checkbox"
            name="available"
            checked>

        Available

    </label>

    <button
        class="bg-black text-white rounded-lg p-3 md:col-span-2">

        Add Service

    </button>

</form>

    <table class="w-full">

        <thead>

            <tr class="border-b">

                <th class="text-left p-3">Service</th>

                <th class="text-left p-3">Price</th>

                <th class="text-left p-3">Duration</th>

            </tr>

        </thead>

        <tbody>

        {% for service in services %}

        <tr class="border-b hover:bg-gray-50">

            <td class="p-3">
                {{ service.name }}
            </td>

            <td class="p-3">
                KES {{ service.price }}
            </td>

            <td class="p-3">
                {{ service.duration }}
            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>
